:root
{
    --gradiente: linear-gradient(to right, rgb(238, 99, 82) 0%, rgb(128, 0, 128) 100%);
}


*
{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body
{
    font-size: 12px;
    background-size: 300%;
    background: var(--gradiente);
}


body,button, input 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}


.background 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container 
{
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}


.screen 
{
    position: relative;
    background: rgb(62, 62, 62);
    border-radius: 15px;
}


.screen:after 
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}


.header 
{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgb(77, 77, 79);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.header-left 
{
    margin-right: auto;
}


.header-button 
{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}


.header-button.close 
{
    background: rgb(237, 28, 111);
}


.header-button.maximize 
{
    background: rgb(232, 233, 37);
}


.header-button.minimize 
{
    background: rgb(116, 197, 79);
}


.screen-body 
{
    display: flex;
}


.screen-body-item 
{
    flex: 1;
    padding: 50px;
}


.screen-body-item.left 
{
    display: flex;
    flex-direction: column;
}


.title 
{
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 26px;
}


.title:after 
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: rgb(234, 29, 111);
}


.form-div 
{
    margin-bottom: 15px;
}


.form-div.buttons 
{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: right;
}


.form-input 
{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(102, 102, 102);
    color: rgb(221, 221, 221);
    font-size: 10px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}


.form-input::placeholder 
{
    color: rgb(102, 102, 102);
}


.form-input:focus 
{
    border-bottom-color: rgb(221, 221, 221);
}


.form-button 
{
    background: none;
    border: none;
    color: rgb(234, 29, 111);
    font-size: 12px;
    cursor: pointer;
    outline: none;
}


.form-button:hover 
{
    color: rgb(238, 99, 82);
}